/* Suppression des marges et des bords pour html et body */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}
/* Définition d'un container pour gérer l'affichage */
.container {
  overflow: hidden;
  /* Cache les éléments qui dépassent du container */
}
#site-header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
header {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.3s;
  border-bottom: 1px solid #000000;
}
#content {
  margin-top: 100px; /* Assurez-vous que le contenu ne soit pas masqué par l'en-tête fixe */
}
#site-body.header-hidden #site-header {
  top: -100px; /* Ajustez cette valeur selon votre hauteur d'en-tête pour le masquer complètement */
}
.header-hidden {
  top: -100px; /* Ajustez cette valeur selon votre hauteur d'en-tête pour le masquer complètement */
}
a {
  color: #000000;
}
.home {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
header ul li {
  margin: auto;
  padding: auto;
}
header ul li a:hover {
  color: #007bff;
  text-decoration: underline;
}
header .logo {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
header img {
  height: 80px;
  border: 1px solid #000000;
  border-radius: 10px;
}
section {
  overflow: hidden;
  padding: 0 4.75rem;
  padding: 10rem;
}
section .presentation h1 {
  font-size: 3.5rem;
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  margin: 2rem 0;
}
section .presentation h2 {
  font-size: 2.5rem;
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
}
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 25px;
}
.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.button a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border: 1px solid #000000;
  padding: 10px 20px;
  border-radius: 10px;
}
.button a:hover {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #ffffff;
}
.competences {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
}
.competences h1 {
  margin-bottom: 4rem;
}
.competences p {
  display: flex;
  justify-content: center;
  width: 75%;
  font-size: 20px;
  text-align: justify;
}

.logo-competences {
  width: 15%;
  margin-bottom: 50px;
}

.logo-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.espace {
  padding-top: 128px;
}
.espace-bas {
  padding-bottom: 128px;
}
.espace-small-bas {
  margin-bottom: 64px;
}
.projects {
  margin-top: 100px;
}
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
.project img {
  width: 350px;
  height: 200px;
  border: 1px solid #000000;
  border-radius: 25px;
}
.project img:hover {
  scale: 1.1;
  overflow: auto;
}
.projet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
}
.scratch h1 {
  text-align: center;
  color: #000000;
}
.scratch p {
  text-align: center;
  padding-bottom: 10px;
  color: #000000;
}
.scratchimg {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #000000;
}
.scratch img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 200px;
}
.color1 {
  color: #000000;
}
.pink {
  background-color: #ffffff;
  color: #000000;
}
.colorcomp {
  color: #000000;
}
.CV {
  text-align: center;
  padding-top: 100px;
}
.CV h1 {
  font-size: 3.5rem;
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  margin-bottom: 100px;
}
.CV img {
  display: block;
  margin: auto;
  width: 500px;
}
footer {
  color: #000000;
  text-align: center;
}
video {
  display: block;
  margin: auto;
  width: 50%;
  height: 100%;
}
.contacts {
  color: #000000;
  display: flex;
  justify-content: center;
  gap: 800px;
  flex-direction: row;
}
footer a {
  text-decoration: none;
  color: #000000;
}
footer a:hover {
  scale: 1.1;
  color: #007bff;
}
footer a img {
  width: 100px;
  height: 100px;
}
.reseaux {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.reseaux img {
  width: 100px;
  height: 100px;
}
.reseaux img:hover {
  scale: 1.1;
}
.reseaux h2 {
  margin-bottom: 20px;
}
footer .home {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
footer .home li {
  margin: 10px;
}
footer .home li a {
  text-decoration: none;
  color: #000000;
}
footer .home li a:hover {
  color: #007bff;
  text-decoration: underline;
}
.espacepara {
  margin-bottom: 100px;
}
.padding {
  padding-bottom: 50px;
}
.sons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  color: #000000;
}
.sons h2 {
  margin-bottom: 20px;
  margin-top: 50px;
}
.sonsband {
  margin-top: 50px;
  margin-bottom: 20px;
}
.copyright {
  text-align: center;
  color: #000000;
}
.blogart {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .CV img {
    height: 500px;
    width: 300px;
    padding-bottom: 100px;
  }
  html {
    background-color: #ffffff;
  }
  section {
    padding: 0 2rem;
    padding-top: 2rem;
    overflow: hidden;
  }
  .container {
    max-width: 100%;
    margin: auto;
    height: fit-content;
  }
  .container .presentation {
    padding-top: 8rem;
  }
  .contacts {
    gap: 50px;
  }
  video {
    width: 100%;
  }
  .reseaux img {
    width: 50px;
    height: 50px;
  }
  .reseaux {
    gap: 10px;
  }
  footer .home li {
    margin: 5px;
  }
  .sons {
    flex-direction: column;
    color: #000000;
  }
  .sons h2 {
    margin-bottom: 10px;
    margin-top: 25px;
  }
  .sonsband {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .copyright {
    font-size: 12px;
    padding-top: 50px;
    color: #000000;
  }
  .blogart {
    font-size: 14px;
    color: #000000;
  }
  .espacepara {
    margin-bottom: 50px;
  }
  .padding {
    padding-bottom: 25px;
  }
  footer a img {
    width: 50px;
    height: 50px;
  }
  footer .home {
    flex-direction: column;
    align-items: center;
  }
  footer .home li a {
    font-size: 20px;
    color: #000000;
  }
  footer .home li a:hover {
    color: #007bff;
    text-decoration: none;
  }
  h1 {
    font-size: 2rem;
    color: #000000;
  }
  h2 {
    font-size: 1.5rem;
    color: #000000;
  }
  p {
    font-size: 1rem;
    color: #000000;
  }
  .presentation h1 {
    font-size: 2rem;
    color: #000000;
  }
  .presentation h2 {
    font-size: 1.5rem;
    color: #000000;
  }
  .button a {
    font-size: 16px;
    color: #000000;
  }
  .competences h1 {
    font-size: 2rem;
    color: #000000;
  }
  .competences p {
    font-size: 16px;
    color: #000000;
  }
  .scratch h1 {
    font-size: 2rem;
    color: #000000;
  }
  .scratch p {
    font-size: 1rem;
    color: #000000;
  }
  .CV h1 {
    font-size: 2rem;
    color: #000000;
  }
  .reseaux h2 {
    font-size: 1.5rem;
    color: #000000;
  }
  .blogart {
    font-size: 12px;
    color: #000000;
  }
  .sons h2 {
    font-size: 1.5rem;
    color: #000000;
  }
  .sonsband {
    font-size: 1rem;
    color: #000000;
  }
  .scratchimg {
    padding-top: 25px;
    color: #000000;
  }
  .logo-competences {
    width: 20%;
  }
  .logo-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .logo {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
  }
  header img {
    height: 50px;
    border: 1px solid #000000;
    border-radius: 10px;
  }
  .projects {
    margin-top: 50px;
    color: #000000;
  }
  .project img {
    width: 200px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 25px;
  }
  .projet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
  }
  .scratch h1 {
    margin-top: 80px;
    text-align: center;
    color: #000000;
  }
  .scratch p {
    text-align: center;
    padding-bottom: 10px;
    color: #000000;
  }
  .scratchimg {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: #000000;
  }
  .scratch img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 200px;
  }
  .color1 {
    color: #000000;
  }
  .pink {
    background-color: #ffffff;
    color: #000000;
  }
  .logo-competences {
    width: 50%;
    margin-bottom: 50px;
    gap: 100px;
  }
  .espace {
    padding-top: 64px;
  }
  .competences p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    color: #000000;
  }
  .project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #000000;
  }
  .project img {
    width: 350px;
    height: 200px;
    border: 1px solid #000000;
    border-radius: 25px;
  }
  .project h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
    color: #000000;
  }
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #ffffff;
  padding-top: 60px;
  transition: left 0.5s ease;
  border-right: 1px solid #000000;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #007bff;
}

.sidenav.active {
  left: 0;
  background-color: #ffffff;
}
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon span {
  display: none;
  width: 35px;
  height: 5px;
  background-color: #000000;
  margin: 6px 0;
}
.burger-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 728px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .home {
    display: none;
  }

  .menu.show {
    display: column;
  }
  .burger-icon {
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
  }

  .burger-icon span {
    display: block;
  }
}
#cvImage {
  cursor: pointer;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 20px;
}

.card {
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 30%; /* Adjusted width to ensure only 3 cards per row */
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0.2, 0.5);
}

.card img {
  width: 100%;
  height: 250px;
  max-height: 250px; /* Maximum height for the images */
  object-fit: contain; /* Ensures the entire image fits within the specified dimensions */
}

.card-content {
  padding: 20px;
}

.card h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
}

.card a {
  display: inline-block;
  margin-top: 20px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
  text-align: center;
  line-height: 4; /* Adjust line-height if needed */
  font-size: 24px;
}

.card a:hover {
  background: #0056b3;
  transform: translateY(-2px);
}

.card a:active {
  transform: translateY(0);
}
