header{
    background-color: #161515;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s;
}
#content {
    margin-top: 100px; /* Assurez-vous que le contenu ne soit pas masqué par l'en-tête fixe */
}
#site-body.header-hidden #site-header {
    top: -100px; /* Ajustez cette valeur selon votre hauteur d'en-tête pour le masquer complètement */
}
.header-hidden {
    top: -100px; /* Ajustez cette valeur selon votre hauteur d'en-tête pour le masquer complètement */
}
.home{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
header ul li{
    margin : auto;
    padding: auto;
}
header ul li a:hover{
    color: #e74c3c;
    text-decoration: underline;
}
header .logo{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
header img{
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
}
section{
    overflow: hidden;
    padding: 0 4.75rem;
    margin-top: 20rem;  
}
section .presentation h1{
    font-size: 3.5rem;
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
    margin : 2rem 0;
}
section .presentation h2{
    font-size: 2,5rem;
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
}
.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
}
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
}
.button a:hover{
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
}
.competences{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.competences h1{
    margin-bottom: 4rem;
}
.competences p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    font-size: 20px;
    text-align: justify;
}
.logo-competences{
    width: 10%;
    margin-bottom: 50px;
}
.logo-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}